body {
    font-family: roboto, sans-serif;
}

main {
    width: 60%;
    margin: 50px auto;
}

h1 {
    font-weight: 900;
    font-size: 3rem;
}

h2,
h3 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
    font-weight: 600;
}