body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
    height: 650px;
}

nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

ul {

    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

ul,
li {
    display: inline;
    margin: 0;
    padding: 0;
}

@media (max-width:1000px) {
    h1 {
        color: rgb(32, 8, 32);
    }
}

@media (max-width:800px) {
    h1 {
        color: rgb(76, 8, 76);
    }
}

@media (max-width:600px) {
    h1 {
        color: purple;
    }
}

@media (max-width:768px) {
    h1 {
        font-size: 4em;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

}

hr {
    height: 2px;
    width: 95%;
    margin: 2em 1em 2em 1em;
    background-color: #7395a3;
    border: none;
}

body {
    background-color: #a5c5d2;
    margin: 2em;
}

a {
    text-decoration: none;
    color: #264653;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
    text-decoration: #264653 underline;
}