button {

    background-color: #917b9e;
    font-size: 1.2em;
    border: none;
    border-radius: 20px;

}

body {
    font-size: 20px;
    background-color: rgb(165, 212, 200);
    margin: 0px auto;
    font-family: 'Courier New', Courier, monospace;


}

button:hover {
    color: #4b1d68;
    background-color: white;
}

#circle {
    width: 300px;
    height: 300px;
    transition: ease-in 1s;
    background-color: antiquewhite;

}

#circle:hover {
    background-color: #4b1d68;
    border-radius: 50%;
}

section div {
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    margin: 10px;
    transition: margin-left 3s;
    margin: ;
}

section:hover div {
    margin-left: 500px;
}

div:nth-pf-type(1) {
    transition-timing-function: ease-in;
}

div:nth-of-type(2) {
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

div:nth-of-type(3) {
    transition-timing-function: ease-out;
}

div:nth-of-type(4) {
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}


h1:nth-of-type(1) {
    background-color: #fb8500;
}

h1:nth-of-type(2) {
    background-color: #ffb703;
}

h1:nth-of-type(3) {
    background-color: #023047;
}

h1:nth-of-type(4) {
    background-color: #219ebc;
}

h1 {
    width: 300px;
    text-align: center;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: 10px auto;
    border: solid black 2px;
}

/* section:first-of-type h1:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: center;
}

section:first-of-type h1:nth-of-type(2) {
    transform: scale(2);
} */

section:nth-of-type(2) h1:nth-of-type(3) {
    transform: scale(0.7) translateX(500px);
}