h1 {
    color: white;
    background-color: #9CADCE;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: Arial Narrow;
}

h2 {
    color: rgb(84, 25, 87) !important;
    font-weight: 600;
    text-decoration: rgb(105, 33, 129) underline;
    font-family: Arial Narrow;
}

h1,
h2 {
    color: rgb(255, 255, 255);
    padding: 5px;
    padding: 20px;

}

h3 {
    color: rgb(28, 61, 50);
    font-family: Arial Narrow;
}

body {
    font-size: 20px;
    background-color: #e3e2ed;
    margin: 0 20%;

}



p.index {
    border-color: #D1CFE2;
    background-color: #D1CFE2;
    width: 80%;
    text-align: center;
    font-family: Arial Narrow, sans-serif;
    padding: 1em 1em;
    margin-left: 0;
    color: #000000;
    border-style: solid;
    border-radius: 5px;
    margin: 20px auto;
}

a {
    text-decoration: none;
}

button {
    text-decoration: none;
    color: rgb(124, 0, 213);
    border: none;
    padding: 10px 10px;
    margin: 5px 5px;
    border: solid white 1px;
    border-radius: 20px;
}

button:hover {

    background-color: #d8c1e6;
}




#submit {
    background-color: rgb(197, 229, 219);
}

.sign {
    color: rgb(15, 27, 25);
    font-family: arial narrow;
}

#gallus {
    border-radius: 50%;
    border-color: rgb(14, 55, 50) border-style: solid;
    border-width: 1px;
}

div {
    width: 100px;
    height: 100px;
    background-color: #deaaff;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}

#static #middle {
    position: static;
    top: 100px;
}

#relative #middle {
    position: relative;
    top: 120px;
}

#absolute #middle {
    position: absolute;
    top: 10px;
}

#fixed #middle {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #4b1d68
}

.transform {
    background-color: #000000;
}

.reg {
    background-color: #e3e2ed;
    border: none;
}